* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  /* eklediğimiz font */
}

nav.nav-top {
  background-image: linear-gradient(
    to right,
    rgb(119, 99, 99),
    rgba(207, 46, 207, 0.805)
  );
  padding: 10px;
}

nav.nav-top img {
  width: 50px;
  border: 1px solid darkred;
  outline: 3px solid red;
  outline-offset: 3px;
}

.sign-in {
  float: right;
  margin: 1.5rem 1rem;
  color: white;
  /* aradaki pipe rengi için */
  font-size: 700;
}

.sign-in a {
  color: white;
  text-decoration: none;
}
.sign-in a:hover {
  color: black;
}

.clearfix {
  clear: both;
}

/* nav-main */

nav.nav-main {
  background-color: #ffaa53;
  width: 100%;
  position: sticky;
  top: 0;
  text-align: center;
  padding: 2rem;
  text-align: center;
  font-size: 1.1rem;
  font-family: "DynaPuff", cursive;
}

nav.nav-main a {
  text-decoration: none;
  color: black;
  font-family: ;
  display: inline-block;
  margin-right: 2rem;

}
nav.nav-main a:hover {
color: white;
  
  }


main{
    padding: 30px;
    text-align: justify;
    font-weight: 700;
}

div.slack {
    background-color: red;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: middle;
    position: fixed;
    right: 40px;
    bottom: 40px;
    font-size: 2rem;
    text-align: center;
    padding: 8px;
    color: white;
}

div.slack:hover{
    color: black;
}

span{
    color: red;
    font-size: large;
}
