@import url(./theme.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
 font-family: 'DynaPuff', cursive;
}

body{
  background-image: url(./bg-img.jpg);
  background-size: cover;
}

.container{
  width: 50%;
  margin: 2rem auto;
}

header{
  margin-top: 2rem;
  text-align: center;
}

h1{
  font-size: 2rem;
  margin: 2rem;
  letter-spacing: 5px;
  word-spacing: 20px;
}

fieldset{
  padding: 1rem;
}

legend{
  border-radius: 10px;
  color: var(--koyu-kirmizi);
  word-spacing: 1rem;
  text-align: center;
}

#num1, #num2{
  background-color: var(--mavi-9);
  padding: 10px ;
  border-radius: 10px;
  margin-bottom: 10px;
  opacity: 0.8;
  box-shadow: var(--koyu-golge);
  
}

section{
  margin-top: 2rem;

}
span{
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  background-color: var(--mavi-9);
  margin-left: 1rem;
}

#execute, #reset{
padding: 1rem;
border-radius: 10px;
background-color:var(--gri-7) ;
margin-right: 1rem;
box-shadow: var(--koyu-golge);
transition: all 0.3s;
cursor: pointer;
}

#execute:active{
transform: scale(95%);
background-color: var(--mavi5);
}
#reset:active{
transform: scale(95%);
background-color: var(--koyu-kirmizi);
}

