@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=Nunito:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

/* font-family: 'DynaPuff', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif; */


/* tema oluştururken hsl kullanmak daha okunaklı oluyor, */
:root{
    --mavi1: hsl(205, 100%, 30%);
    --mavi2: hsl(205, 100%, 40%);
    --mavi3: hsl(205, 100%, 50%);
    --mavi4: hsl(205, 100%, 60%);
    --mavi5: hsl(205, 100%, 70%);
  
    /* asil renklerin acik tonları */
    --mavi-6: hsl(205, 89%, 70%);
    --mavi-7: hsl(205, 90%, 76%);
    --mavi-8: hsl(205, 86%, 81%);
    --mavi-9: hsl(205, 90%, 88%);
    --mavi-10: hsl(205, 100%, 96%);
    --mavi-11: hsl(205, 3%, 95%);
    /* Basliklar icin kullanilan koyu tonlar */
  --gri-1: hsl(209, 61%, 16%);
  --gri-2: hsl(211, 39%, 23%);
  --gri-3: hsl(209, 34%, 30%);
  --gri-4: hsl(209, 28%, 39%);

  /* Paragraflar icin kullanilan renkler */
  --gri-5: hsl(210, 22%, 49%);
  --gri-6: hsl(209, 23%, 60%);
  --gri-7: hsl(211, 27%, 70%);
  --gri-8: hsl(210, 31%, 80%);
  --gri-9: hsl(212, 33%, 89%);
  --gri-10: hsl(210, 36%, 96%);

  --mor: hsl(276, 85%, 49%);

  --beyaz: #fff;
  --koyu-kirmizi: hsl(360, 67%, 44%);
  --acik-kirmizi: hsl(360, 71%, 66%);
  --koyu-yesil: hsl(125, 67%, 44%);
  --acik-yesil: hsl(125, 71%, 66%);
  --siyah: #222;

  /* Color Theme Swatches in Hex */
--yesil1: #01415B;
--yesil2: #005148;
--yesil3: #019587;


  /* Color Theme Swatches in Hex (böyle geliyor siteden
.Fine-Day-for-Sailing-1-hex { color: #01415B; }
.Fine-Day-for-Sailing-2-hex { color: #005148; }
.Fine-Day-for-Sailing-3-hex { color: #019587; }
.Fine-Day-for-Sailing-4-hex { color: #A6BC09; }
.Fine-Day-for-Sailing-5-hex { color: #CCEA8D; } */

  /** Fonts */
  --ff-dyna: "DynaPuff", cursive;
  --ff-nunito: "Nunito", sans-serif;
  --ff-open-sans: "Open Sans", sans-serif;

    /** Shadow */
  --koyu-golge: 0px 0px 15px rgba(0, 0, 0, 0.4);
  --acik-golge: 0px 5px 15px rgba(0, 0, 0, 0.1);

}