@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container{
    width: 1200px;
    margin: auto;
}

.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding: 30px 0;
}

.container2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.image {
    /* width: 60%; */
}

.general{
    width: 33%;
}