* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

/* HEADER */

.header {
  padding: 15px;
  line-height: 36px;
}

.header__left {
  float: left;
}

.header__right {
  float: right;
}

ul li {
  display: inline-block;
}

ul li a {
  color: black;
  padding: 0.5rem;
  opacity: 0.8;
}

ul li a:hover {
  text-decoration: underline;
}

.header__right--appicon {
  vertical-align: middle;
}

.header__right--button {
  background-color: #4285f4;
  color: white;
  border: none;
  width: 96px;
  height: 36px;
  border-radius: 4px;
  font-weight: 600;
}
.header__right--button:hover {
  box-shadow: rgb(211, 211, 211) 2px 3px 5px;
  cursor: pointer;
}

/* MAİN */

.main {
  margin-top: 200px;
  text-align: center;
}

.main__logo {
  width: 272px;
  height: 92px;
}

.main__search-bar {
  border: 2px solid #d3d3d3;
  border-radius: 20px;
  width: 460px;
  height: 40px;
  margin: 20px auto;
}

.main__search-bar--input {
  width: 380px;
  height: 30px;
  font-size: 14px;
  margin-top: 2px;
  border: none;
  outline: none;
}

.main__search-bar--magnifier {
  width: 30px;
  vertical-align: middle;
}
.main__search-bar--mic {
  width: 15px;
  vertical-align: middle;
}

.main__buttons {
}

.main__buttons--left,
.main__buttons--right {
  width: 145px;
  border: none;
  border-radius: 4px;
  background-color: #f8f9fa;
  margin: 30px 0;
  padding: 0 16px;
  height: 36px;
}

.main__buttons--left:hover,
.main__buttons--right:hover {
  border: 1px solid #d3d3d3;
  box-shadow: rgb(211, 211, 211) 2px 3px 5px;
  cursor: pointer;
}

.main__language a:hover {
  text-decoration: underline;
}

/* FOOTER */

.footer {
  position: fixed;
  bottom: 0;
  background-color: #f2f2f2;
  width: 100%;
}

.footer__country {
  font-size: 14px;
  padding: 20px 30px;
  border-bottom: 1px solid rgb(215, 211, 211) ;
}

.footer__bottom--left {
  float: left;
}
.footer__bottom--right {
  float: right;
}
.footer__bottom ul {
  padding: 20px;
}
