* {
  margin: 0;
  padding: 0;
  /* color: #fff; */
  box-sizing: border-box;
}
body {
  background-image: url(../netflixclone/image/background_image.jpg);
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* height: 70vh;
    width: 100%; */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.gri {
  background-color: rgba(6, 6, 6, 0.71);
}
header {
  /* border: 5px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin-left: 40px;
  margin-right: 40px;
}
.logo {
  display: inline-block;
  margin-left: 30px;
}
.block {
  display: flex;
}
.language {
  /* float: right; */
  /* padding: 7px; */
  /* background-color: rgba(0, 0, 0, 0.4); */
}
#lang {
  font-family: Helvetica, "FontAwesome";
  font-size: 13px;
  width: 95px;
  height: 35px;
  background-color: black;
  color: #fff;
  /* border: none; */
  border: 1px solid #aaa;
  border-radius: 5px;
}
.btn {
  /* float: right; */
}
.btn input {
  background: #e50914;
  padding: 6px;
  border-radius: 5px;
  color: #fff;
  margin-left: 1rem;
  border-style: none;
  cursor: pointer;
  font-size: 15px;
  width: 95px;
  height: 35px;
}
.clear {
  clear: both;
}
main {
  /* border: 5px solid green; */
  color: #fff;
  width: 1400px;
  margin: auto;
  padding: 1px;
}
.title {
  text-align: center;
  height: 50vh;
  /* border: 2px solid red; */
}
.title h1 {
  font-size: 60px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.title h6 {
  font-size: 30px;
  margin-top: 30px;
}
.title p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-top: 30px;
  /* border: 2px solid red; */
}
.email {
  width: 850px; 
  /* display: flex; */
  height: 65px;
  /* position: relative; */
  /* margin: 20px auto; */
  margin-bottom: 50px;
  margin-left: 320px;
  /* border: 2px solid red; */
  display: block;

}
#mail {
  width: 600px;
  height: 60px;
}
#start {
  background-color: #e50914;
  color: #fff;
  width: 200px;
  height: 60px;
}
footer {
  border-top: 8px solid grey;
  background-color: rgb(0, 0, 0);
  height: 30vh;
  margin-bottom: 0cm;
  overflow: auto;
}
.alttaraf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  width: 1000px;
  color: #fff;
}
.info {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 180px;
}
.info h2 {
  font-size: 44px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.info p {
}
.tv {
  background-image: url(../netflixclone/image/background_image.jpg);
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* height: 70vh;
    width: 100%; */
  /* background-repeat: no-repeat;
    background-attachment: fixed; */
}
#tvbox {
  border: 0;
  height: auto;
  max-width: 100%;
}
