@import "theme.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  text-align: center;
  color: white;
  font-family: var(--ff-roboto);

}

.container {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}

.logo {
  background-color: var(--tropikal-sari);
  padding: 1rem;
  border: 1px solid var(--gri-3);
}

.menu {
  background-color: var(--mavi-6);
  padding: 1rem;
  border: 1px solid var(--gri-3);
}

.banner {
  background-color: var(--acik-kirmizi);
  padding: 4rem;
}

.row .bolum123 {
  background-color: var(--tropikal-yesil3);
  height: calc(100vh - 330px);
  border: 1px solid var(--gri-3);
}

.row .bolum456 {
  background-color: var(--turuncu);
  padding: 1rem;
  border: 1px solid var(--gri-3);
}

.footer {
  background-color: var(--mor);
  padding: 2rem;
  border: 1px solid var(--gri-3);

}
