*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    background-color: #121212;
  
  }


.giris{
    background-color:#FFCB04;
    height: 100px;
    width: 1400px;
    display: flex;
}

.logo{
    margin-left: 15px;
    margin-top: 15px;
}

.butonlar{
    display: flex;
    width: 500px;
    margin-top: 20px;
    margin-left: 500px;
}
#ticari{
    background-color: black;
    color: #FFCB04;
    height: 45px;
    width: 245px;
    cursor: pointer;
}
#giris1{
    border: 3px solid black;
    height: 45px;
    margin-left: 40px;
    color: black;
    background-color: #FFCB04;
    width: 100px;
    cursor: pointer;
}
.dil select{
    height: 45px;
    width: 90px;
    border: none;
    background-color: #FFCB04;
    margin-left: 10px;
}
.fa-solid{
    font-size:25px;
    margin-top: 10px;
    margin-left: 30px;
}




/* main bölümü section 1 */

.uyelik{
    background-color: #0d0c0ceb;
    height: 100px;
    display: flex;
    position: sticky;
    top: 20px;
}
.butonlar2{display: flex;}

 .isim input{
    background-color: white;
    width: 390px;
    height: 45px;
    margin-top: 20px;
    margin-left: 20px;
    font-size:large;
    font-weight: 800;
}
.email input{
    background-color: white;
    width: 390px;
    height: 45px;
    margin-top: 20px;
    margin-left: 80px;
    font-size:large;
    font-weight: 800;
}
.uyeol input{
    background-color:#FFCB04;
    color: black;
    width: 390px;
    height: 45px;
    margin-top: 20px;
    margin-left: 80px;
    font-size:large;
    font-weight: 800;
    cursor: pointer;
 }


/* main bölümü section 2 */
.arkaplan{
    /* background-color: #121212; */
}
.reklam{
    /* margin-top: 50px; */
    background-color: #121212;
}





/* main bölümü section 3 incele */
.reklam{
    display: flex;
}
.box1, .box2, .box3, .box4 {
    padding: 25px 10px 10px;
    /* margin: 20px; */
    
}
.box1 a, .box2 a, .box3 a, .box4 a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}



/* footer bölümü */
.gorsel{
    width: 350px;
    margin: auto;
    margin-top: 30px;
}

.aciklama{
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    background-color: #121212;
    color: white;
    line-height: 55px;
    margin: 30px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.store{
    display: flex;
}

.store input{
    width: 300px;
    height: 80px;
    background-color: #121212;
    /* border: 2px solid white; */
    color: white;
    /* border-radius: 10px; */
    /* margin: 5px; */
    font-size: 45px;
}
.store i{
    font-size: 45px;
    color:rgb(211, 24, 24);
}

.play, .app, .gallery{
    background-color: #121212;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    margin:20px auto;
}

.sosyal{
   width: 350px;
   margin: auto;
}
.sosyal i {
    font-size: 45px;
    margin: 40px 0;
}

.yardim input{
    background-color: black;
    color: #FFCB04;
    height: 85px;
    width: 100%;
    font-size: 30px;
    margin-bottom: 60px;
    cursor: pointer;
}