*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    padding: 10px;
}

.left a, .right a{
    text-decoration: none;
    color: black;
}
.left a:hover, .right a:hover{
    text-decoration:underline;
}

#l2{
    margin-left: 10px;
}

#r1, #r2, #r3{
    margin-right: 15px;
}
.right{
    position: relative;
    /* border: 2px solid greenyellow; */
    margin-left: 80%;
}

.right input{
    background-color:  #007ff0;
    color: white;
    width: 80px;
    height: 30px;
    border: 2px solid #007ff0;
    border-radius: 5px;
    cursor: pointer;
}
.right img{
    position: relative;
    top: 10px;
}

/* main bölümü */
main{
    margin-top: 250px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input{
    width: 584px;
    height: 44px;
    border-radius: 30px;
}

.button{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#btn1{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#btn2{
    width: 200px;
    height: 40px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btn1:hover, #btn2:hover{
    background-color:#F1F1F1 ;
}

#other{
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 30px;
    font-size: 17px;
}