*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    padding: 10px;
}

.left a, .right a{
    text-decoration: none;
    color: black;
}
.left a:hover, .right a:hover{
    text-decoration:underline;
}

#l2{
    margin-left: 10px;
}

#r1, #r2, #r3{
    margin-right: 15px;
}
.right{
    position: relative;
    margin-left: 80%;
}

.right input{
    background-color:  #007ff0;
    color: white;
    width: 80px;
    height: 30px;
    border: 2px solid #007ff0;
    border-radius: 5px;
    cursor: pointer;
}

.right input:hover{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
}
.right img{
    position: relative;
    top: 10px;
}

/* main bölümü */
main{
    margin-top: 250px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search input{
    width: 584px;
    height: 44px;
    border-radius: 30px;
    font-size: 25px;
    padding-left:60px;
}

.search input:hover{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.24);
}


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#mic{
    position: relative;
    display: inline;
    right: 40px;
    cursor: pointer;
}
#glass{
    position: relative;
    display: inline;
    left: 50px;
    cursor: pointer;
}

#btn1{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* padding: 9px 15px; */
}
#btn2{
    width: 200px;
    height: 40px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btn1:hover, #btn2:hover{
    background-color:#F1F1F1 ;
}

#other{
    text-align: center;
    margin-top: 30px;
    font-size: 17px;
    color: navy;
}