* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-rows: repeat(7, 80px);
  grid-template-columns: repeat(4, 80px);
  grid-template-areas:
    "a a a a"
    "a a a a"
    "b c d e"
    "f g h i"
    "j k l m"
    "n o p q"
    "r r s t";

  background-color: black;
  border: 1px solid black;
  gap: 8px;
  padding: 20px;
  width: 380px;
  border-radius: 30px;
  margin: 100px auto;
}

.button {
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
}

.button:hover {
  opacity: 0.5;
}
.button:active {
  transform: scale(95%);
}

.dark {
  background-color: #383838;
  color: white;
}

.light {
  background-color: #a2a2a2;
}

.orange {
  background-color: #f1a33c;
  color: white;
}

.top {
  grid-area: a;
  background-color: rgb(32, 31, 31);
  border-radius: 30px;
  margin-bottom: 8px;
}

.btn17 {
  grid-area: r;
  border-radius: 150px;
}
